:root {
    --primary-color: #fff;
    --col-text: #454242;
    --col-textdark: #DDDDDD;
    --buttcolor: #FF4444;
    --searchcol: #F0F0F0;
    font-size: 100%;
  }
  
  body {
    margin: 0;
    background-size: auto 100%;
    font-family: 'Inria Sans', sans-serif;
  }
  
  body.darkmode {
    background-color: #7B7B7B;
    color: var(--col-textdark);
  }
  
  #biggestbox {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding-left: 7.0625rem;
    padding-top: 3.4375rem;
    box-sizing: border-box;
  }
  
  #inbox {
    width: 1735px;
  }
  
  #logonbutts {
    display: flex;
  }
  
  #topcont {
    display: flex;
  }
  
  #easy {
    font-size: 2.1875rem;
    font-weight: 700;
    padding-top: 0.3125rem;
    padding-left: 1.25rem;
  }
  
  #butts {
    display: flex;
    align-items: center;
    position: absolute;
    top: 77px;
    right: 110px;
  }
  
  #buttswitch {
    border: solid 2px;
    font-size: 2.25rem;
    font-family: 'Inria Serif', serif;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    border-radius: 50px;
    margin-right: 1.5rem;
    /* background-color: var(--buttcolor); */
    cursor: pointer;
  }
  
  #buttdark {
    border: solid 2px;
    padding: 1.4375rem;
    border-radius: 50px;
    background-image: url(media/moon.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    /* background-color: var(--buttcolor); */
    cursor: pointer;
  }

  #buttswitch:hover, #buttdark:hover{
    border: solid 2px red;
  }
  
  #searchbar {
    display: flex;
  }
  
  #research {
    width: 1000px;
    height: 50px;
    background-color: var(--searchcol);
    border-radius: 50px 0px 0px 50px;
    margin-left: 14.5rem;
    margin-top: 4.4375rem;
    padding-left: 3.8125rem;
    border: none;
    font-size: 20px;
  }
  
  ::placeholder {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    opacity: 50%;
  }
  
  #buttact {
    margin-top: 4.375rem;
    margin-left: 0;
    padding: 9px;
    padding-right: 2.5rem;
    padding-left: 1.25rem;
    border: none;
    border-radius: 0px 50px 50px 0px;
    background-color: var(--buttcolor);
    cursor: pointer;
  }
  
  #buttact:hover {
    background-color: #ff8686;
    
  }
  
  #def {
    display: flex;
    justify-content: start;
    margin-top: 6.5rem;
    margin-left: 15.625rem;
  }
  
  #definition {
    font-size: 2rem;
    font-weight: 700;
    margin-right: 1.5rem;
    margin-top: 0;
    text-align: left;
  }

  #searchdef{
    width: 1200px;
    margin-left: 14.375rem;

  }
  
  #searched {
    font-size: 2.125rem;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 1.5rem;
    text-transform: uppercase;
  }
  
  #phone {
    margin-top: 0;
    text-align: center;
    margin-right: 1.5625rem;
  }
  
  #audio {
    align-self: center;
    margin-right: 6.25rem;
    margin-left: 0;
    margin-bottom: 2.25rem;
    cursor: pointer;
    
  }
  
  #searchdefinition {
    font-size: 1.375rem;
    margin-right: 6.25rem;
    margin-left: 2.8125rem;
    margin-top: 1.375rem;
  }
  
  #descri {
    display: flex;
    justify-content: start;
    margin-left: 14.6875rem;
    margin-top: 5.0625rem;
  }
  
  span {
    font-weight: 700;
    font-style: italic;
  }
  
  #syno {
    margin-right: 7.5rem;
    padding-left: 0.9375rem;
  }
  
  #synonymes {
    font-size: 2.125rem;
  }
  
  .definition {
    font-size: 1.375rem;
    margin-left: 2.8125rem;
    margin-right: 6.25rem;
  }
  
  .error {
    color: red;
    font-size: 14px;
    margin-left: 15.625rem;
    margin-top: -0.625rem;
  }
  
  p {
    margin-top: 0;
    margin-left: 1.75rem;
    font-size: 1.375rem;
  }

  #loupe{
    margin-top: 0.25rem;
  }

  
  @media screen and (max-width: 375px) {


    #biggestbox {
      padding: 0;
      margin: 0;
                                                                
    }
    
    #inbox {
      width: 375px;
    }
  
    #searchbar {
      width: 300px;
      margin: 0;
    }
  
    #research {
      width: 230px;
      margin-left: 1.5625rem;
      padding-left: 1.25rem;
      margin-top: 3.125rem;
    }
  
    #definition {
      width: 200px;
      margin-right: 0;
      font-size: 1.5rem;
    }
  
    #searchdefinition {
      font-size: 1.0625rem;
      margin-left: 3.75rem;
      margin-right: 5rem;
    }
  
    #searched {
      font-size: 1.625rem;
      text-align: center;
      width: 200px;
    }

    #phone{

      width: 200px;
    }
  
    #def {
      margin-top: 3.5625rem;
      margin-left: 1.625rem;
      display: block;
    }
  
    #descri {
      display: flex;
      flex-direction: column;
      margin-top: 0.625rem;
      margin-left: 0;
    }
  
    #butts {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: 1.25rem;
      right: 2.5rem;
    }
  
    #easy {
      font-size: 1.5625rem;
      width: 135px;
      margin-top: 0;
    }
  
    #logo {
      width: 70px;
      height: 78px;
    }

    #topcont{
      margin-top: 1.25rem;
      margin-left: 1.125rem;
    }
  
    #synonymes {
      font-size: 1.5rem;
      margin-left: 0.625rem;
      width: 170px;

    }
  
    #buttact {
      padding-right: 1.125rem;
      padding-left: 0.75rem;
      margin-top: 3.125rem;
      margin-left: 0;
    }
  
    ::placeholder {
      color: var(--searchcol);
    }
  
    #listesyno {
      margin-left: 1.25rem;
      font-size: 1.0625rem;
    }
  
    .definition {
      font-size: 1.25rem;
      text-align: left;
    }
  
    #buttswitch {
      margin-right: 0;
      margin-bottom: 0.3125rem;
    }
  
    .error {
      margin-left: 1.25rem;
    }
  
    #audio {
      margin-left: 0px;
      margin-top: -3.4375rem;
    }
  
    .definition {
      font-size: 1.0625rem;
      margin-right: 3.125rem;
      margin-top: 1.25rem;
      margin-left: 1.25rem;
    }
  
    #searchdef {
      padding-top: 1.25rem;
      width: 375px;
      margin: 0;
    }

    p{
      font-size: 1.0625rem;
    }

    #loupe{
      margin-top: 0;
    }
  }
  



